
		<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
		<head th:replace="fragments :: head"></head>
		
		<body>
		<nav th:replace="fragments :: navigation-shop"></nav>
		
	<div class="container">
	
	<div class="row">
	
	<div class="col-lg-8">
	
	<div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><i class="fa fa-shopping-cart"></i> Carrito de compra</h5>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <hr>
                    <div class="row" th:each="prodCarrito: ${prodCars}">
                        <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
                        </div>
                        <div class="col-xs-4">
                            <h4 class="product-name"><strong th:text="${prodCarrito.producto.nombre}"></strong></h4>
                        </div>
                        <div class="col-xs-6">

                            <div class="col-xs-4">
                                <h4><span class="badge badge-secondary" th:text="'$'+${prodCarrito.producto.precio}"></span></h4>
                                <form action="#" th:action="@{/api/carrito/{id}(id=${prodCarrito.id})}" method="post">

                                    <button type="submit" class="btn btn-danger">Quitar</button>
                                </form>
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="text-center">
                            <div class="col-xs-9">
                                <h6 class="text-right">Productos agregados: <span th:text="${carrito.cantidadProductos}"></span></h6>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right">Total <strong>$<span th:text="${carrito.precioTotal}"></span></strong></h4>
                        </div>

                    </div>
                    <br>
                    <div class="col-xs-3" th:if="${carrito.cantidadProductos} &gt; 0">
                        <button type="button" class="btn btn-success btn-block">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
	
	
	</div>
	
	</div>
	
	</div>
	<footer th:replace="fragments :: footer"></footer>
		
	</body>
	
	</html>
	