
		<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
		<head th:replace="fragments :: head"></head>
		
		<body>
		<nav th:replace="fragments :: navigation-shop"></nav>
		
	<div class="container">
	
	<div class="row">
	
	<div class="col-lg-3">
	
	</div>
	
	<div class="col-lg-9">
	
<div class="row">

                <div class="col-lg-4 col-md-6 mb-4" th:each="producto : ${productos}">
                    <div class="card h-100">
                        <a th:href="@{'/producto/' + ${producto.id}}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">                                 <a th:href="@{'/producto/' + ${producto.id}}" th:text="${producto.nombre}"></a>                             </h4>                             <h5>$<span th:text="${producto.precio}"></span></h5>                             <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet                                 numquam                                 aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>




            </div>
            <!-- /.row -->

	</div>
	
	</div>
	
	</div>
	<footer th:replace="fragments :: footer"></footer>
		
	</body>
	
	</html>
	